/*reseteo*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62,5%; }

/*header*/
header .bg-nav {
  background-color: #1a3c40c5; }
  header .bg-nav div a img {
    width: 4rem;
    height: auto; }

/*footer*/
.foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a3c40c5;
  padding: 2rem; }
  .foot .img-logo {
    width: 6rem;
    height: 6rem; }
    @media screen and (max-width: 780px) {
      .foot .img-logo .img-logo {
        display: none; } }
  .foot ul {
    list-style: none; }
    .foot ul li {
      padding: 5px; }
      .foot ul li a {
        text-decoration: none;
        color: #E5EFC1;
        font-weight: bold;
        text-shadow: 1px 1px black;
        font-size: 1rem; }
        .foot ul li a:hover {
          color: #22577E;
          text-shadow: none;
          transition: 1s; }
        .foot ul li a .foot-img {
          width: 2rem;
          height: 2rem; }
  .foot div a {
    padding: 1rem; }
    .foot div a .foot-img {
      width: 2rem;
      height: 2rem; }
  @media screen and (max-width: 480px) {
    .foot {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 1rem; } }
  @media screen and (max-width: 780px) {
    .foot {
      display: flex;
      justify-content: space-around; } }

/*main-index*/
.main {
  color: #E5EFC1;
  text-shadow: 3px 3px black;
  background-image: linear-gradient(rgba(0, 0, 0, 0.508), rgba(0, 0, 0, 0.494)), url(../Img/laboratorio-index.jpg);
  background-size: cover;
  background-repeat: none;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 80vh; }

main, .main-staff {
  color: #E5EFC1;
  text-shadow: 3px 3px black;
  background-image: none;
  background-image: linear-gradient(rgba(0, 0, 0, 0.529), rgba(0, 0, 0, 0.487)), url(../Img/fondo-nosotros.jpg);
  background-repeat: none;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100vh; }

.main div {
  margin-left: 1rem; }
  .main div h1 {
    font-size: 5rem;
    font-family: "Ubuntu", sans-serif; }
  .main div p {
    font-size: 1.5rem;
    font-family: 'Ubuntu', sans-serif;
    text-shadow: none; }

.main .boton {
  margin-top: 3rem; }
  .main .boton a {
    text-decoration: none; }
    .main .boton a div {
      margin-bottom: 1rem; }
      .main .boton a div button {
        background-color: #1a3c40be;
        border: solid 0,2rem #091c1ffb; }

/*main-nosotros*/
.main-nosotros {
  color: #E5EFC1;
  text-shadow: 3px 3px black;
  background-image: none;
  background-image: linear-gradient(rgba(0, 0, 0, 0.529), rgba(0, 0, 0, 0.487)), url(../Img/fondo-nosotros.jpg);
  background-repeat: none;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: auto; }
  .main-nosotros section {
    margin-left: 1rem; }
    .main-nosotros section h1 {
      font-size: 3.5rem;
      font-family: 'Ubuntu', sans-serif;
      text-align: center; }
    .main-nosotros section p {
      font-size: 1rem;
      font-family: 'Ubuntu', sans-serif;
      text-shadow: none;
      text-align: center; }
  .main-nosotros .slider {
    width: 60%;
    margin: auto;
    overflow: hidden; }
    .main-nosotros .slider .carrusel {
      display: flex;
      padding: 0;
      width: 400%;
      animation: carrusel 20s linear infinite alternate; }
      .main-nosotros .slider .carrusel li {
        list-style: none;
        width: 100%; }
        .main-nosotros .slider .carrusel li .img-carrusel {
          width: 100%;
          height: 100%;
          object-fit: contain; }

@keyframes carrusel {
  0% {
    margin-left: 0; }
  20% {
    margin-left: 0; }
  25% {
    margin-left: -100%; }
  45% {
    margin-left: -100%; }
  50% {
    margin-left: -200%; }
  70% {
    margin-left: -200%; }
  75% {
    margin-left: -300%; }
  100% {
    margin-left: -300%; } }

/*main-servicio*/
main h2 {
  font-size: 3.5rem;
  font-family: 'Ubuntu', sans-serif;
  margin-left: 1rem; }

main section div {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  main section div img {
    width: 20%;
    height: auto;
    background-color: white;
    padding: 1rem;
    margin: 1rem; }

main section div h3 {
  position: absolute;
  bottom: 2rem; }

/*main-staff*/
.main {
  color: #E5EFC1;
  text-shadow: 3px 3px black;
  background-image: linear-gradient(rgba(0, 0, 0, 0.508), rgba(0, 0, 0, 0.494)), url(../Img/laboratorio-index.jpg);
  background-size: cover;
  background-repeat: none;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 80vh; }

main, .main-staff {
  color: #E5EFC1;
  text-shadow: 3px 3px black;
  background-image: none;
  background-image: linear-gradient(rgba(0, 0, 0, 0.529), rgba(0, 0, 0, 0.487)), url(../Img/fondo-nosotros.jpg);
  background-repeat: none;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100vh; }

.main-staff {
  height: auto; }
  .main-staff h1 {
    font-size: 3.5rem;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 1rem; }
  .main-staff .slider {
    width: 60%;
    margin: auto;
    overflow: hidden; }
    .main-staff .slider .carrusel {
      display: flex;
      padding: 0;
      width: 400%;
      animation: carrusel 20s linear infinite alternate; }
      .main-staff .slider .carrusel li {
        list-style: none;
        width: 100%; }
        .main-staff .slider .carrusel li .img-carrusel {
          width: 100%;
          height: 100%;
          object-fit: contain; }
        .main-staff .slider .carrusel li .nombre {
          text-align: center;
          font-size: 2rem;
          position: absolute;
          bottom: 0;
          top: 1rem; }

/*main-contacto*/
.main-contacto h1 {
  color: #E5EFC1;
  font-size: 3rem;
  text-align: center;
  font-family: 'Ubuntu', sans-serif; }

.main-contacto section h2 {
  color: #E5EFC1;
  font-size: 1.5rem;
  text-align: center;
  font-family: 'Ubuntu', sans-serif; }

.main-contacto .input .info {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .main-contacto .input .info input {
    background-color: #091c1fd5;
    border: solid 0,2rem #091c1f79;
    color: white; }
  .main-contacto .input .info textarea {
    background-color: #091c1f9f;
    color: white; }
