@import '../base/mapas';
 .main-contacto {
     h1 {
        color: map-get($contacto, font-color);
        font-size: 3rem;
        text-align: center;
        font-family: 'Ubuntu', sans-serif;
     }
     section {
         h2 {
             color: map-get($contacto, font-color);
             font-size: map-get($contacto, font-size-h2);
             text-align: center;
             font-family: 'Ubuntu', sans-serif;
         }
     }
     .input {
         .info{
            display: flex;
            flex-direction: column;
            align-items: center;
            input {
                background-color: #091c1fd5;
                border: solid 0,2rem #091c1f79;
                color: white;
            }
            textarea {
                background-color: #091c1f9f;
                color: white;
            }
         }
         
     }
 }
