@import '../base/variables';
header {
    .bg-nav {
        background-color: $background-color-hf;
        div {
            a {
                img {
                     width: 4rem;
                     height: auto;
                }
            }
        }
    }
}