header {
    .bg-nav {
        background-color: #1a3c40c5;
        div {
            a {
                img {
                     width: 4rem;
                     height: auto;
                }
            }
        }
    }
}