@import '../base/extends';
@import '../base/variables';

.main-staff {
    @extend %resto-main;
    height: auto;
    h1 {
        font-size: 3.5rem;
        font-family: 'Ubuntu', sans-serif;
        margin-left: 1rem;
    }
    .slider {
        width: 60%;
        margin: auto;
        overflow: hidden;
        .carrusel {
            display: flex;
            padding: 0;
            width: 400%;
            animation: carrusel 20s linear infinite alternate;
            li {
                list-style: none;
                width: 100%;
                .img-carrusel {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
                .nombre{
                    text-align: center;
                    font-size: 2rem;
                   position: absolute;
                   bottom: 0;
                   top: 1rem;

                }
            }
        }
}
}