main {
    @extend %resto-main;
    h2 {
        font-size: 3.5rem;
        font-family: 'Ubuntu', sans-serif;
        margin-left: 1rem;
    }
   .section-main {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    @include mobile {
        display: contents;
        flex-direction: column;
        align-items: center;
    }
    .card-div {
        margin: 3rem;
        @include mobile {
             margin: auto;
             margin-top: 1rem;
             
        }
        .card-parrafo {
            .parrafo {
                color: black;
                text-shadow: none;
            }
        }
    }
   }
}