@import '../base/extends';
@import '../base/variables';

.main-staff {
    @extend %resto-main;
    height: auto;
    h1 {
        font-size: 3.5rem;
        font-family: 'Ubuntu', sans-serif;
        margin-left: 1rem;
    }
section {
    div {
        display: flex;
        align-items: center;
        img {
            width: 30rem;
            height: 20rem;
        }
        div {
            display: flex;
            flex-direction: column;
            margin: 4rem;
            text-align: center;
        }
    }    
}
}