@import '../base/extends';
@import '../base/variables';

.main-staff {
    @extend %resto-main;
    height: auto;
    h1 {
        font-size: 3.5rem;
        font-family: 'Ubuntu', sans-serif;
        margin-left: 1rem;
    }
    .slide-staff {
        width: 50%;
        padding-bottom: 0,5rem;
        div {
            div {

            }
            div {
                div {
                    img {

                    }
                    div {
                         h5 {
                             font-size: 2rem;
                             font-family: 'Ubuntu', sans-serif;
                             color: black;
                             text-shadow: none;
                             background-color:#1a3c4054 ;
                               
                         }
                         p {
                            font-size: 1.5rem;
                            font-family: 'Ubuntu', sans-serif;
                            background-color:#1a3c4041 ;
                         }
                    }
                }
            }

        }
    }
}