@import '../base/extends';
@import '../base/variables';

.main-nosotros{
    @extend %resto-main;
    section {
        div {
            div { 
                h1 {
                    font-size: 3.5rem;
                    font-family: 'Ubuntu', sans-serif;
                }
                p{
                    font-size: 1rem;
                    font-family: 'Ubuntu', sans-serif;
                    text-shadow: none; 
                }
            }
        }
    }
}